workflows/email-automation.json
{
  "name": "AI Email Auto-Responder",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "options": {}
      },
      "id": "1",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "1",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "message",
        "model": "llama2",
        "prompt": "=You are a professional email assistant. Analyze this email and generate a polite, helpful response:\n\nFrom: {{$json[\"from\"]}}\nSubject: {{$json[\"subject\"]}}\nBody: {{$json[\"body\"]}}\n\nGenerate a professional response email.",
        "options": {
          "temperature": 0.7
        }
      },
      "id": "2",
      "name": "Ollama",
      "type": "n8n-nodes-base.ollama",
      "typeVersion": 1,
      "position": [450, 300],
      "credentials": {
        "ollamaApi": {
          "id": "1",
          "name": "Ollama API"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{$node[\"Gmail Trigger\"].json[\"id\"]}}",
        "message": "={{$json[\"response\"]}}",
        "options": {}
      },
      "id": "3",
      "name": "Send Reply",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [650, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "1",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"subject\"]}}",
              "operation": "notContains",
              "value2": "Re:"
            }
          ]
        }
      },
      "id": "4",
      "name": "Filter New Emails",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 150]
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Filter New Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter New Emails": {
      "main": [
        [
          {
            "node": "Ollama",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "pinData": {},
  "meta": {
    "instanceId": "your-instance-id"
  }
}